<div class="mat-elevation-z8">

        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search student">
            </mat-form-field>
            </div>
      <table mat-table class="full-width-table" matSort aria-label="Elements">
      
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
        </ng-container>

        <ng-container matColumnDef="studentId">
            <th mat-header-cell *matHeaderCellDef>StudentId</th>
            <td mat-cell *matCellDef="let activity"> {{activity.studentId}} </td>
          </ng-container>
  
          <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>firstname</th>
          <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
        </ng-container>
        <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
                <td mat-cell *matCellDef="let activity">{{activity.surname}}</td>
              </ng-container>
    
        <ng-container matColumnDef="advisor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Advisor</th>
            <td mat-cell *matCellDef="let activity">{{activity.advisor}}</td>
          </ng-container>

          <ng-container matColumnDef="gpa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Gpa</th>
                <td mat-cell *matCellDef="let activity">{{activity.gpa}}</td>
              </ng-container>

         <ng-container matColumnDef="height">
             <th mat-header-cell *matHeaderCellDef mat-sort-header>Height</th>
              <td mat-cell *matCellDef="let activity">{{activity.height}}</td>
          </ng-container>

          <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
                 <td mat-cell *matCellDef="let activity">{{activity.weight}}</td>
             </ng-container>

             <ng-container matColumnDef="nickname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nickname</th>
                     <td mat-cell *matCellDef="let activity">{{activity.nickname}}</td>
                 </ng-container>

          <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
                 <td mat-cell *matCellDef="let activity">{{activity.dob}}</td>
             </ng-container>
    
          <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef class="center-text">Image</th>
              <td mat-cell *matCellDef="let activity" class="center-text">
                <img [src]="activity.image" [title]="activity.activityname" class="img-fluid">
              </td>
              <td mat-footer-cell *matFooterCellDef></td> 
          </ng-container>
          

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>description</th>
            <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
          </ng-container>
          
           <ng-container matColumnDef="AcceptBtn">
                <th mat-header-cell *matHeaderCellDef class="center-text">Condition</th>
                        <td mat-cell *matCellDef="let student">               
                  <div class="center">  
                      <a mat-flat-button color="primary" class="btn btn-black" (click)="accept()" routerLinkActive="router-link-active">Accept</a>                 
                    <!-- <button mat-raised-button class="center-button" (click)="approve()" color="primary" >Approve</button> -->
                        </div>           
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td> 
                 </ng-container>
            
                 <ng-container matColumnDef="RefuseBtn">
                    <th mat-header-cell *matHeaderCellDef class="center-text">Condition</th>
                        <td mat-cell *matCellDef="let student">               
                  <div class="center">                   
                    <!-- <button mat-raised-button class="center-button" (click)="reject()" color="primary" >Reject</button> -->
                    <a mat-flat-button color="primary" class="btn btn-black" (click)="refuse()" routerLinkActive="router-link-active">Refuse</a>                 
                  </div>           
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td> 
                 </ng-container>
    
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let activity; columns: displayedColumns;"></tr>
    
     
    
      </table>
    
      <mat-paginator #paginator
          [length]="dataSource?.data.length"
          [pageIndex]="0"
          [pageSize]="50"
          [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
    
      
    </div>
    
