

<div ng-model="studentdashboard">
  <mat-toolbar color="primary" fixedInViewport>
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()" style="color: rgb(255, 255, 255)"> menu </mat-icon>
      </button>
      <span style="color: rgb(255, 255, 255)"> student </span>
      <span class="nav-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true" >

      </div>
      
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['register']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
          
          Register</a>
          <a mat-list-item [routerLink]="['List']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
          
            List</a>
            <a mat-list-item [routerLink]="['update']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
          
              Update</a>
              <a mat-list-item [routerLink]="['add']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
                Add
            </a>        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill fixedInViewport>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  
  </div>