


<form>
        <div class="center">
        <mat-card class="img-width">
                <mat-card-header>
                    <mat-card-title>Image</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="\assets\images\su.jpg" >
            </mat-card>
        </div>
<br>
        <table class="full-width">
        <tr>
          <td>
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
             <input matInput placeholder="your first name" value="Yaxin">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
          </td>
          <td>
        <mat-form-field appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="your last name" value = "Su">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
          </td>
          <td>
        <mat-form-field appearance="fill">
              <mat-label>Nickname</mat-label>
              <input matInput placeholder="your nickname" value="Rachel" >
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
                </td>
        </tr>
      </table>
    
      <table class="full-width">
          <tr>
              <td>
                  <mat-form-field appearance="fill">
                      <mat-label>Student Id</mat-label>
                         <input matInput placeholder="your id number" value="602115520">
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field appearance="fill">
                        <mat-label>Years</mat-label>
                        <input matInput placeholder="which year of you" value="Two">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field appearance="fill">
                        <mat-label>Advisor</mat-label>
                        <input matInput placeholder="who is your advior">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
              </td>
          </tr>
      </table>
    
      <table class="full-width">
          <tr>
              <td>
                  <mat-form-field appearance="fill">
                      <mat-label>Size</mat-label>
                         <input matInput placeholder="size you wear"value="SS">
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field appearance="fill">
                        <mat-label>Weight</mat-label>
                        <input matInput placeholder="your weight"value="44">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field appearance="fill">
                        <mat-label>Height</mat-label>
                        <input matInput placeholder="your height"value="160">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
              </td>
          </tr>
      </table>
                              
       <table class="full-width">
               <tr>
                  <td>

                       
                              
                       
                         
                        
                                
                              
                      <mat-form-field appearance="fill">
                        <mat-label>Photo</mat-label>
                        <input matInput placeholder="phone of you" value="su.jpg" >
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Birthday</mat-label>
                              <input matInput [matDatepicker]="picker" placeholder="Date of birth" value="07/08/1998">
                               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            </td>  
                        <td>
                      <mat-form-field appearance="fill">
                         <mat-label>Gpa</mat-label>
                         <input matInput placeholder="Gpa" value="2.3">
                         <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                       </mat-form-field>
                        </td>
                
            </tr>
    </table>
    
                    <mat-form-field appearance="fill"  class="full-width">
                     <mat-label>Other</mat-label>
                     <input matInput placeholder="Other">
                     <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
    
                   <div class="center">
                        <a mat-flat-button color="primary" class="btn btn-black" (click)="update()" routerLinkActive="router-link-active">Update</a> 
                    </div>
                                  
     </form>
                              
