<div class="mat-elevation-z8">

        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search student">
            </mat-form-field>
              <a mat-flat-button color="primary" class="btn btn-black" [routerLink]="['/teacher-dashboard/view']" routerLinkActive="router-link-active" style="margin-left:1050px">
                BACK
              </a>
            </div>
      <table mat-table class="full-width-table" matSort aria-label="Elements">
      
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
        </ng-container>

        <ng-container matColumnDef="studentId">
            <th mat-header-cell *matHeaderCellDef>StudentId</th>
            <td mat-cell *matCellDef="let activity"> {{activity.studentId}} </td>
          </ng-container>
  
          <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Full name</th>
          <td mat-cell *matCellDef="let activity">{{activity.fullname}}</td>
        </ng-container>
    
        <ng-container matColumnDef="advisor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Advisor</th>
            <td mat-cell *matCellDef="let activity">{{activity.advisor}}</td>
          </ng-container>
    
          <!-- <ng-container matColumnDef="image">`
            <th mat-header-cell *matHeaderCellDef mat-sort-header>image</th>
            <td mat-cell *matCellDef="let activity">{{activity.image}}</td>
          </ng-container> -->
    
          <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef class="center-text">Image</th>
              <td mat-cell *matCellDef="let activity" class="center-text">
                <img [src]="activity.image" [title]="activity.activityname" class="img-fluid">
              </td>
              <td mat-footer-cell *matFooterCellDef></td> 
          </ng-container>
          

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>description</th>
            <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
          </ng-container>
          
           <ng-container matColumnDef="ApproveBtn">
                <th mat-header-cell *matHeaderCellDef class="center-text">Approve</th>
                        <td mat-cell *matCellDef="let student">               
                  <div class="center">  
                      <a mat-flat-button color="primary" class="btn btn-black" (click)="approve()" routerLinkActive="router-link-active">Approve</a>                 
                    <!-- <button mat-raised-button class="center-button" (click)="approve()" color="primary" >Approve</button> -->
                        </div>           
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td> 
                 </ng-container>
            
                 <ng-container matColumnDef="RejectBtn">
                    <th mat-header-cell *matHeaderCellDef class="center-text">Reject</th>
                        <td mat-cell *matCellDef="let student">               
                  <div class="center">                   
                    <!-- <button mat-raised-button class="center-button" (click)="reject()" color="primary" >Reject</button> -->
                    <a mat-flat-button color="primary" class="btn btn-black" (click)="reject()" routerLinkActive="router-link-active">Reject</a>                 
                  </div>           
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td> 
                 </ng-container>
    
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let activity; columns: displayedColumns;"></tr>
    
     
    
      </table>
    
      <mat-paginator #paginator
          [length]="dataSource?.data.length"
          [pageIndex]="0"
          [pageSize]="50"
          [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
    
      
    </div>
    