
               
 <form>
    <table class="full-width">
    <tr>
      <td>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
         <input matInput placeholder="your first name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
      </td>
      <td>
    <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="your last name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
      </td>
      <td>
    <mat-form-field appearance="fill">
          <mat-label>Nickname</mat-label>
          <input matInput placeholder="your nickname">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
            </td>
    </tr>
  </table>

  <table class="full-width">
      <tr>
          <td>
              <mat-form-field appearance="fill">
                  <mat-label>Student Id</mat-label>
                     <input matInput placeholder="your id number">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
          </td>
          <td>
              <mat-form-field appearance="fill">
                    <mat-label>Years</mat-label>
                    <input matInput placeholder="which year of you">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

              </mat-form-field>
          </td>
          <td>
              <mat-form-field appearance="fill">
                    <mat-label>Advior</mat-label>
                    <input matInput placeholder="who is your advior">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
          </td>
      </tr>
  </table>

  <table class="full-width">
      <tr>
          <td>
              <mat-form-field appearance="fill">
                  <mat-label>Size</mat-label>
                     <input matInput placeholder="size you wear">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
          </td>
          <td>
              <mat-form-field appearance="fill">
                    <mat-label>Weight</mat-label>
                    <input matInput placeholder="your weight">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
          </td>
          <td>
              <mat-form-field appearance="fill">
                    <mat-label>Height</mat-label>
                    <input matInput placeholder="your height">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
          </td>
      </tr>
  </table>
                          
   <table class="full-width">
           <tr>
              <td>
                  <mat-form-field appearance="fill">
                    <mat-label>Photo</mat-label>
                    <input matInput placeholder="phone of you">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Birthday</mat-label>
                          <input matInput [matDatepicker]="picker" placeholder="Date of birth">
                           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        </td>  
                    <td>
                  <mat-form-field appearance="fill">
                     <mat-label>Gpa</mat-label>
                     <input matInput placeholder="Gpa)">
                     <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                   </mat-form-field>
                    </td>
            
        </tr>
</table>

                <mat-form-field appearance="fill"  class="full-width">
                 <mat-label>Description</mat-label>
                 <input matInput placeholder="description">
                 <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

               <div class="center">
                  <a mat-flat-button class="mat-raised" color="primary" class="btn btn-black" (click)="add()" routerLinkActive="router-link-active">Register</a> 
                    
               </div>
                              
 </form>
                          