.full-width {
	width: 100%;
  }
.penInput {
	min-width: 3rem;
    max-width: 6rem;
}
.center-text{
	text-align: center;
}
.center {
	display:flex;
	justify-content: center;
}
.img-width{
	max-width: 400px;
}
