.student-name {
    color: #FF0000;
    font-size: x-large;
}

.grade {
    font-weight: bold;
}


input {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    width: 60px;
    text-align: center;
}

img {
    height: auto;
    width: 200px;
}