<div class="mat-elevation-z8">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
        <table mat-table class="full-width-table" matSort aria-label="Elements">
         
          <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef >Id</th>
            <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
            <td mat-footer-cell *matFooterCellDef></td> 
          </ng-container> -->
      
          <ng-container matColumnDef="studentId">
            <th mat-header-cell *matHeaderCellDef >StudentID</th>
            <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
            <td mat-footer-cell *matFooterCellDef></td> 
          </ng-container>
    
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let student">{{student.name}}</td>
            <td mat-footer-cell *matFooterCellDef></td> 
        </ng-container>
    
        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef >Surname</th>
            <td mat-cell *matCellDef="let student">{{student.surname}}</td>
            <td mat-footer-cell *matFooterCellDef></td> 
        </ng-container>
          
          <ng-container matColumnDef="activityname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity name</th>
              <td mat-cell *matCellDef="let activity">{{activity.activityname}}</td>
              <td mat-footer-cell *matFooterCellDef></td> 
          </ng-container>
      
          <ng-container matColumnDef="activitydescription">
              <th mat-header-cell *matHeaderCellDef >Description</th>
              <td mat-cell *matCellDef="let activity">{{activity.activitydescription}}</td>
              <td mat-footer-cell *matFooterCellDef></td> 
          </ng-container>
    
          <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef >Date</th>
              <td mat-cell *matCellDef="let activity">{{activity.Date}}</td>
              <td mat-footer-cell *matFooterCellDef></td> 
          </ng-container>
          <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef >locaion</th>
              <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
              <td mat-footer-cell *matFooterCellDef></td> 
          </ng-container>
      
          <ng-container matColumnDef="professor">
              <th mat-header-cell *matHeaderCellDef >professor</th>
              <td mat-cell *matCellDef="let activity">{{activity.professor}}</td>
              <td mat-footer-cell *matFooterCellDef></td> 
          </ng-container>
      
          <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef class="center-text">Acitivity Image</th>
              <td mat-cell *matCellDef="let activity" class="center-text">
                <img [src]="activity.image" [title]="activity.activityname" class="img-fluid">
              </td>
              <td mat-footer-cell *matFooterCellDef></td> 
          </ng-container>
      
         
           <!-- <ng-container matColumnDef="gpa">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header >GPA</th>
              <td mat-cell *matCellDef="let student" >{{student.gpa}}</td>    
              <td mat-footer-cell *matFooterCellDef >{{averageGpa() | number:'1.2-2'}}</td> 
              <td mat-footer-cell *matFooterCellDef></td> 
          </ng-container> -->
          <ng-container matColumnDef="ApproveBtn">
                <th mat-header-cell *matHeaderCellDef class="center-text">Approve</th>
                        <td mat-cell *matCellDef="let student">               
                  <div class="center">                   
                    <button mat-raised-button class="center-button" (click)="approve()" id="btn">Approve</button>
                        </div>           
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td> 
                 </ng-container>
            
                 <ng-container matColumnDef="RejectBtn">
                    <th mat-header-cell *matHeaderCellDef class="center-text">Reject</th>
                        <td mat-cell *matCellDef="let student">               
                  <div class="center">                   
                    <button mat-raised-button class="center-button" (click)="reject()" id="btn">Reject</button>
                        </div>           
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td> 
                 </ng-container>
    
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>    
        </table>
      
        <mat-paginator #paginator
            [length]="dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="50"
            [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
      </div>
      